/* Contenu de la page */

.input 
	{width: 200px;
	height: 50px;
	font-size: x-large;
	text-align: center;
	border-radius: 5px;
	border-color: grey;
}

/* Tableau */
.limiter 
	{width: 100%;
	margin: 0 auto;}

.container-table100 
	{width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 20px 30px;}

.wrap-table100 
	{width: 960px;
	border-radius: 10px;
	overflow: hidden;}

.table 
	{width: 100%;
	display: table;
	margin: 10px 10px;
	text-align: center;
	}

@media screen and (max-width: 900px) 
	{.table 
		{display: block;}}

.row 
	{display: table-row;
	background: #fff;}

.row.header 
	{color: #ffffff;
	background: #A7BD9F;}

@media screen and (max-width: 768px) 
	{.row {display: block;}
	.row.header {
	padding: 0;
	height: 0px;}

	.row.header .cell {display: none;}

	.row .cell:before {
	color: #000;
	line-height: 1.2;
	text-transform: uppercase;
	font-weight: unset !important;

	margin-bottom: 13px;
	content: attr(data-title);
	min-width: 98px;
	display: block;}}

.cell 
	{display: table-cell;}

@media screen and (max-width: 768px) 
	{.cell {display: block;}}

.row .cell 
	{color: #000;
	line-height: 1.2;
	font-weight: unset !important;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #f2f2f2;}

.row.header .cell 
	{color: #fff;
	line-height: 1.2;
	font-weight: unset !important;
	padding-top: 19px;
	padding-bottom: 19px;}

.row .cell:nth-child(1) 
	{width: 30px;
	padding-left: 40px;}

.row .cell:nth-child(2) 
	{width: 160px;}

.row .cell:nth-child(3) 
	{width: 250px;}

.row .cell:nth-child(4) 
	{width: 190px;}

.table, .row 
	{width: 100% !important;}


@media (max-width: 768px) 
	{.row 
	{border-bottom: 1px solid #f2f2f2;
	padding-bottom: 18px;
	padding-top: 30px;
	padding-right: 15px;
	margin: 0;}
	
	.row .cell 
	{border: none;
		padding-left: 30px;
	padding-top: 16px;
	padding-bottom: 16px;}

	.row .cell:nth-child(1) 
	{padding-left: 30px;}
	
	.row .cell 
	{color: #555555;
	line-height: 1.2;
	font-weight: unset !important;}

	.table, .row, .cell 
	{width: 100% !important;}
}

/* Boutons */
.btn{
	display: block;
}
	